[submodule "Source/Time/Monarch"]
	path = Source/Time/Monarch
	url = https://github.com/project8/monarch.git
[submodule "Nymph"]
  path = Nymph
  # for runtime log-level configuration
	url = https://github.com/arifogel/nymph
[submodule "Cicada"]
	path = Cicada
	url = https://github.com/Helium6CRES/cicada
